// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 Fuzhou Rockchip Electronics Co., Ltd
 */

/dts-v1/;

#include "rk3399-khadas-edge.dtsi"
#include <dt-bindings/sensor-dev.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Khadas Board";
	compatible = "Khadas,edge", "Khadas,edge-io", "rockchip,rk3399";
	chosen {
	bootargs = "earlycon=uart8250,mmio32,0xff1a0000 swiotlb=1 console=ttyFIQ0 androidboot.baseband=N/A androidboot.veritymode=enforcing androidboot.hardware=rk30board androidboot.console=ttyFIQ0 init=/init initrd=0x62000001,0x00800000 coherent_pool=1m";
	};
    khadas-matrix-keypad {
		status = "okay";
		compatible = "khadas-matrix-keypad";
		row_col_gpio =
				<&gpio0 10 GPIO_ACTIVE_HIGH>,
				<&gpio0 11 GPIO_ACTIVE_HIGH>,
				<&gpio0 12 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&matrix_gpio>;
		debounce-delay-ms = <10>;
		col-scan-delay-us = <10>;
		linux,no-autorepeat;
	};

	rt5651-sound {
		status = "okay";
		compatible = "simple-audio-card";

		pinctrl-names = "default";
		pinctrl-0 = <&rt5651_hpdet>;


		simple-audio-card,format = "i2s";
		simple-audio-card,name = "realtek,rt5651-codec";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,hp-det-gpio = <&gpio1 0 GPIO_ACTIVE_HIGH>;
		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"Mic Jack", "MICBIAS1",
			"IN1P", "Mic Jack",
			"Headphone Jack", "HPOL",
			"Headphone Jack", "HPOR";
		simple-audio-card,cpu {
			sound-dai = <&i2s1>;
		};
		simple-audio-card,codec {
			sound-dai = <&rt5651>;
		};
	};
};
&firmware_android {
       compatible = "android,firmware";
       boot_devices = "fe330000.sdhci";
       vbmeta {
               compatible = "android,vbmeta";
               parts = "vbmeta,boot,system,vendor,dtbo";
       };
       fstab {
               compatible = "android,fstab";
               vendor {
                       compatible = "android,vendor";
                       dev = "/dev/block/by-name/vendor";
                       type = "ext4";
                       mnt_flags = "ro,barrier=1,inode_readahead_blks=8";
                       fsmgr_flags = "wait,avb";
		};
	};
};

&fusb0 {
	status = "okay";
	max-input-voltage = <13000000>;
	max-input-current = <6000000>;
	charge-dev = <&bq25703>;
};

&fusb1 {
	status = "okay";
	max-input-voltage = <13000000>;
	max-input-current = <6000000>;
	charge-dev = <&bq25703>;
};

&i2s1 {
	status = "okay";
	rockchip,i2s-broken-burst-len;
	rockchip,playback-channels = <2>;
	rockchip,capture-channels = <2>;
	#sound-dai-cells = <0>;
};

&isp0_mmu {
	status = "okay";
};

&isp0 {
	status = "disabled";
};

&isp1_mmu {
	status = "okay";
};

&isp1 {
	status = "disabled";
};

&i2c1 {
	status = "okay";
	i2c-scl-rising-time-ns = <300>;
	i2c-scl-falling-time-ns = <15>;

	rt5651: rt5651@1a {
		#sound-dai-cells = <0>;
		compatible = "rockchip,rt5651";
		reg = <0x1a>;
		clocks = <&cru SCLK_I2S_8CH_OUT>;
		clock-names = "mclk";
		pinctrl-names = "default";
		pinctrl-0 = <&i2s_8ch_mclk>;
		status = "okay";
	};
};

&i2c6 {
	status = "okay";

	vm149c: vm149c@0c {
		compatible = "silicon touch,vm149c";
		status = "okay";
		reg = <0x0c>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
	};
	
	imx214b: imx214b@10 {
		compatible = "sony,imx214";
		status = "okay";
		reg = <0x10>;
		clocks = <&cru SCLK_CIF_OUT>;
		clock-names = "xvclk";
		/* avdd-supply = <>; */
		/* dvdd-supply = <>; */
		/* dovdd-supply = <>; */
		/* reset-gpios = <>; */
		pwdn-gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio2 12 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "rockchip,camera_default";
		pinctrl-0 = <&cif_clkout>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YG9626-S600Y7-C";
		rockchip,camera-module-lens-name = "LG-50013A7";
		lens-focus = <&vm149c>;
		port {
			ucam_out0: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				//remote-endpoint = <&mipi_in_ucam1>;
				data-lanes = <1 2>;
			};
		};
	};	

	vm149c_front: vm149c_front@0c {
		compatible = "silicon touch,vm149c";
		status = "okay";
		reg = <0x0c>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "front";		
	};
	
	imx214f: imx214f@10 {
		compatible = "sony,imx214";
		status = "okay";
		reg = <0x10>;
		clocks = <&cru SCLK_CIF_OUT>;
		clock-names = "xvclk";
		/* avdd-supply = <>; */
		/* dvdd-supply = <>; */
		/* dovdd-supply = <>; */
		/* reset-gpios = <>; */
		pwdn-gpios = <&gpio2 12 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "rockchip,camera_default";
		pinctrl-0 = <&cif_clkout>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "YG9626-S600Y7-C";
		rockchip,camera-module-lens-name = "LG-50013A7";
		lens-focus = <&vm149c_front>;
		port {
			ucam_out1: endpoint {
				//remote-endpoint = <&mipi_in_ucam0>;
				remote-endpoint = <&mipi_in_ucam1>;
				data-lanes = <1 2>;
			};
		};
	};	
};

&i2c7 {
	status = "okay";

	icm20602_acc: icm_acc@68 {
		compatible = "icm20602_acc";
		reg = <0x68>;
		irq-gpio = <&gpio0 8 IRQ_TYPE_LEVEL_LOW>; /* GPIO0_B0 */
		irq_enable = <0>;
		poll_delay_ms = <30>;
		type = <SENSOR_TYPE_ACCEL>;
		layout = <9>;
	};

	icm20602_gyro: icm_gyro@68 {
		compatible = "icm20602_gyro";
		reg = <0x68>;
		irq_enable = <0>;
		poll_delay_ms = <30>;
		type = <SENSOR_TYPE_GYROSCOPE>;
		layout = <7>;
	};
};

&i2c8 {
	status = "okay";
	i2c-scl-rising-time-ns = <600>;
	i2c-scl-falling-time-ns = <20>;

	apds9960@39 {
		compatible = "avago,apds9960";
		reg = <0x39>;
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PB2 IRQ_TYPE_LEVEL_LOW>;
		led-r-gpio = <&gpio4 24 GPIO_ACTIVE_HIGH>;		
		pinctrl-names = "default";
		pinctrl-0 = <&apds_int_l>;
	};

	bq25703: bq25703@6b {
		compatible = "ti,bq25703";
		reg = <0x6b>;
		extcon = <&fusb0>, <&fusb1>;
		interrupt-parent = <&gpio1>;
		interrupts = <RK_PC7 IRQ_TYPE_LEVEL_LOW>; /* GPIO1_C7 */
		pinctrl-names = "default";
		pinctrl-0 = <&charger_ok>;
		ti,charge-current = <1500000>;
		ti,max-charge-voltage = <8500000>;
		ti,max-input-voltage = <20000000>;
		ti,max-input-current = <6000000>;
		ti,input-current-sdp = <500000>;
		ti,input-current-dcp = <2000000>;
		ti,input-current-cdp = <2000000>;
		ti,input-current-dc = <2000000>;
		ti,minimum-sys-voltage = <7400000>;
		ti,otg-voltage = <5000000>;
		ti,otg-current = <500000>;
		ti,input-current = <500000>;
		pd-charge-only = <0>;
		status = "okay";
	};

	cw2013: cw2013@62 {
		status = "okay";
		compatible = "cw201x";
		reg = <0x62>;
		bat_config_info = <0x15 0x7F 0x6E 0x66 0x65 0x5C 0x5B 0x59
				0x58 0x57 0x57 0x54 0x53 0x51 0x4B 0x48
				0x40 0x33 0x2A 0x26 0x23 0x25 0x2A 0x34
				0x45 0x4F 0x0C 0xCD 0x44 0x68 0x67 0x68
				0x6E 0x6F 0x6C 0x68 0x3A 0x10 0x8A 0x01
				0x01 0x54 0x52 0x87 0x8F 0x91 0x94 0x52
				0x82 0x8C 0x92 0x96 0x82 0xFF 0xFF 0xCB
				0x2F 0x7D 0x64 0xA5 0xB5 0x13 0x58 0x09>;
		monitor_sec = <5>;
		virtual_power = <0>;
		divider_res1 = <200>;
		divider_res2 = <200>;
		dc_det_gpio = <&gpio1 RK_PC7 GPIO_ACTIVE_HIGH>;
	};
};

&rk_key {
	enter-key {
		linux,code = <232>;
		label = "enter";
		rockchip,adc_value = <170>;
	};
};


&pwm3 {
	status = "okay";

	interrupts = <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH 0>;
	compatible = "rockchip,remotectl-pwm";
	remote_pwm_id = <3>;
	handle_cpu_id = <1>;
	remote_support_psci = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pwm3b_pin>;

	ir_key1 {
		rockchip,usercode = <0xff00>;
		rockchip,key_table =
			<0xeb   KEY_POWER>,
			<0xec   KEY_MENU>,
			<0xfc   KEY_UP>,
			<0xfd   KEY_DOWN>,
			<0xf1   KEY_LEFT>,
			<0xe5   KEY_RIGHT>,
			<0xf8   232>,
			<0xa7   KEY_VOLUMEDOWN>,
			<0xa3    388>,  //mouse func
			<0xa4    388>,  //mouse func
			<0xf4   KEY_VOLUMEUP>,
			<0xfe   KEY_BACK>,
			<0xb7   KEY_HOME>;

	};

};

&backlight {
	pwms = <&pwm1 0 25000 0>;
	status = "okay";
};


&pwm1 {
	status = "okay";
};

&dp_in_vopl {
	status = "disabled";
};

&dp_in_vopb {
	status = "okay";
};

&hdmi_in_vopb {
	status = "okay";
};

&hdmi_in_vopl {
	status = "disabled";
};

&route_hdmi {
	status = "okay";
	connect = <&vopb_out_hdmi>;
};

&vopb {
	status = "okay";
	assigned-clocks = <&cru DCLK_VOP0_DIV>;
	assigned-clock-parents = <&cru PLL_VPLL>;
};

&vopl {
	status = "okay";
	assigned-clocks = <&cru DCLK_VOP1_DIV>;
	assigned-clock-parents = <&cru PLL_CPLL>;
};
&route_dsi {
	status = "okay";
	connect = <&vopl_out_dsi>;
};

&dsi_in_vopb {
	status = "disabled";
};

&dsi_in_vopl {
	status = "okay";
};

&dsi {
    status = "okay";
    rockchip,lane-rate = <400>;
    dsi_panel: panel@0 {
        status = "okay";
        compatible = "simple-panel-dsi";
        reg = <0>;
        backlight = <&backlight>;
        reset-gpios = <&gpio4 RK_PD4 GPIO_ACTIVE_HIGH>; /* GPIO4_D4 */
        enable-gpios = <&gpio4 RK_PD5 GPIO_ACTIVE_HIGH>; /* GPIO4_D5 */
//		pinctrl-names = "default";
//      pinctrl-0 = <&lcd_reset_gpio>, <&lcd_enable_gpio>;
        reset-delay-ms = <10>;
        enable-delay-ms = <200>;
        prepare-delay-ms = <200>;
        unprepare-delay-ms = <60>;
        disable-delay-ms = <60>;
		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST)>;

		dsi,format = <MIPI_DSI_FMT_RGB888>;
        dsi,lanes  = <4>;
		panel-init-sequence = [
                                  
            39 E0 04 FF 98 81 03  // Sequence format  BYTE1=DSC Command TYPE  | BYTE2=Delay in milliseconds  | BYTE3= Number of bytes in command | BYTE4/5/6/7= ILI9881 Command
            15 20 02 01 00        // Sequence format  BYTE1=DSC Command TYPE  | BYTE2=Delay in milliseconds  | BYTE3= Number of bytes in command | BYTE4/5= ILI9881 Command
            15 20 02 02 00
            15 20 02 03 72
            15 20 02 04 00
            15 20 02 05 00
            15 20 02 06 09
            15 20 02 07 00
            15 20 02 08 00
            15 20 02 09 01
            15 20 02 0A 00
            15 20 02 0B 00
            15 20 02 0C 01
            15 20 02 0D 00
            15 20 02 0E 00
            15 20 02 0F 00
            15 20 02 10 00
            15 20 02 11 00
            15 20 02 12 00
            15 20 02 13 00
            15 20 02 14 00
            15 20 02 15 00
            15 20 02 16 00
            15 20 02 17 00
            15 20 02 18 00
            15 20 02 19 00
            15 20 02 1A 00
            15 20 02 1B 00
            15 20 02 1C 00
            15 20 02 1D 00
            15 20 02 1E 40
            15 20 02 1F 80
            15 20 02 20 05
            15 20 02 21 02
            15 20 02 22 00
            15 20 02 23 00
            15 20 02 24 00
            15 20 02 25 00
            15 20 02 26 00
            15 20 02 27 00
            15 20 02 28 33
            15 20 02 29 02
            15 20 02 2A 00
            15 20 02 2B 00
            15 20 02 2C 00
            15 20 02 2D 00
            15 20 02 2E 00
            15 20 02 2F 00
            15 20 02 30 00
            15 20 02 31 00
            15 20 02 32 00
            15 20 02 33 00
            15 20 02 34 04
            15 20 02 35 00
            15 20 02 36 00
            15 20 02 37 00
            15 20 02 38 3C
            15 20 02 39 00
            15 20 02 3A 40
            15 20 02 3B 40
            15 20 02 3C 00
            15 20 02 3D 00
            15 20 02 3E 00
            15 20 02 3F 00
            15 20 02 40 00
            15 20 02 41 00
            15 20 02 42 00
            15 20 02 43 00
            15 20 02 44 00
            15 20 02 50 01
            15 20 02 51 23
            15 20 02 52 45
            15 20 02 53 67
            15 20 02 54 89
            15 20 02 55 AB
            15 20 02 56 01
            15 20 02 57 23
            15 20 02 58 45
            15 20 02 59 67
            15 20 02 5A 89
            15 20 02 5B AB
            15 20 02 5C CD
            15 20 02 5D EF
            15 20 02 5E 11
            15 20 02 5F 01
            15 20 02 60 00
            15 20 02 61 15
            15 20 02 62 14
            15 20 02 63 0E
            15 20 02 64 0F
            15 20 02 65 0C
            15 20 02 66 0D
            15 20 02 67 06
            15 20 02 68 02
            15 20 02 69 07
            15 20 02 6A 02
            15 20 02 6B 02
            15 20 02 6C 02
            15 20 02 6D 02
            15 20 02 6E 02
            15 20 02 6F 02
            15 20 02 70 02
            15 20 02 71 02
            15 20 02 72 02
            15 20 02 73 02
            15 20 02 74 02
            15 20 02 75 01
            15 20 02 76 00
            15 20 02 77 14
            15 20 02 78 15
            15 20 02 79 0E
            15 20 02 7A 0F
            15 20 02 7B 0C
            15 20 02 7C 0D
            15 20 02 7D 06
            15 20 02 7E 02
            15 20 02 7F 07
            15 20 02 80 02
            15 20 02 81 02
            15 20 02 82 02
            15 20 02 83 02
            15 20 02 84 02
            15 20 02 85 02
            15 20 02 86 02
            15 20 02 87 02
            15 20 02 88 02
            15 20 02 89 02
            15 20 02 8A 02
            39 E0 04 FF 98 81 04  // Set to Page 4 Command
            15 20 02 6C 15        // Set VCORE Setting to 0x15
            15 20 02 6E 2A        // Set Power Control2 to 0x2A
            15 20 02 6F 34        // Set Power Control3 to 0x34
            15 20 02 3A 94        // Command 0x3A not in 0.92 spec version
            15 20 02 8D 14        // Set Power Control4 to 0x14
            15 20 02 87 BA        // Command 0x87 not in 0.92 spec version
            15 20 02 26 76        // Command 0x26 not in 0.92 spec version
            15 20 02 B2 D1        // Command 0xB2 not in 0.92 spec version
            15 20 02 B5 06        // Command 0xB5 not in 0.92 spec version
            39 E0 04 FF 98 81 01  // Set to Page 1 Command
            15 20 02 22 09        // Set Panel Operation Mode to 0x0B
            15 20 02 31 00        // Set Display Inversion to 0x00
            15 20 02 53 90        // Set VCOM Control1-2 to 0x90
            15 20 02 55 A2        // Set VCOM Control1-4 to 0xA2
            15 20 02 50 B7        // Set Power Control1-1 to 0xB7
            15 20 02 51 B7        // Set Power Control1-2 to 0xB7
            15 20 02 60 22        // Set Source Timing Adjust-1 to 0x22
            15 20 02 61 00        // Set Source Timing Adjust-2 to 0x00
            15 20 02 62 19        // Set Source Timing Adjust-3 to 0x19
            15 20 02 63 10        // Set Source Timing Adjust-4 to 0x10
            15 20 02 A0 08        // Set Positive Gamma Correction-1 to 0x08
            15 20 02 A1 1A        // Set Positive Gamma Correction-2 to 0x1A
            15 20 02 A2 27        // Set Positive Gamma Correction-3 to 0x27
            15 20 02 A3 15        // Set Positive Gamma Correction-4 to 0x15
            15 20 02 A4 17        // Set Positive Gamma Correction-5 to 0x17
            15 20 02 A5 2A        // Set Positive Gamma Correction-6 to 0x2A
            15 20 02 A6 1E        // Set Positive Gamma Correction-7 to 0x1E
            15 20 02 A7 1F        // Set Positive Gamma Correction-8 to 0x1F
            15 20 02 A8 8B        // Set Positive Gamma Correction-9 to 0x8B
            15 20 02 A9 1B        // Set Positive Gamma Correction-10 to 0x1B
            15 20 02 AA 27        // Set Positive Gamma Correction-11 to 0x27
            15 20 02 AB 78        // Set Positive Gamma Correction-12 to 0x78
            15 20 02 AC 18        // Set Positive Gamma Correction-13 to 0x18
            15 20 02 AD 18        // Set Positive Gamma Correction-14 to 0x18
            15 20 02 AE 4C        // Set Positive Gamma Correction-15 to 0x4C
            15 20 02 AF 21        // Set Positive Gamma Correction-16 to 0x21
            15 20 02 B0 27        // Set Positive Gamma Correction-17 to 0x27
            15 20 02 B1 54        // Set Positive Gamma Correction-18 to 0x54
            15 20 02 B2 67        // Set Positive Gamma Correction-19 to 0x67
            15 20 02 B3 39        // Set Positive Gamma Correction-20 to 0x39
            15 20 02 C0 08        // Set Negative Gamma Correction-1 to 0x08
            15 20 02 C1 1A        // Set Negative Gamma Correction-2 to 0x1A
            15 20 02 C2 27        // Set Negative Gamma Correction-3 to 0x27
            15 20 02 C3 15        // Set Negative Gamma Correction-4 to 0x15
            15 20 02 C4 17        // Set Negative Gamma Correction-5 to 0x17
            15 20 02 C5 2A        // Set Negative Gamma Correction-6 to 0x2A
            15 20 02 C6 1E        // Set Negative Gamma Correction-7 to 0x1E
            15 20 02 C7 1F        // Set Negative Gamma Correction-8 to 0x1F
            15 20 02 C8 8B        // Set Negative Gamma Correction-9 to 0x8B
            15 20 02 C9 1B        // Set Negative Gamma Correction-10 to 0x1B
            15 20 02 CA 27        // Set Negative Gamma Correction-11 to 0x27
            15 20 02 CB 78        // Set Negative Gamma Correction-12 to 0x78
            15 20 02 CC 18        // Set Negative Gamma Correction-13 to 0x18
            15 20 02 CD 18        // Set Negative Gamma Correction-14 to 0x18
            15 20 02 CE 4C        // Set Negative Gamma Correction-15 to 0x4C
            15 20 02 CF 21        // Set Negative Gamma Correction-16 to 0x21
            15 20 02 D0 27        // Set Negative Gamma Correction-17 to 0x27
            15 20 02 D1 54        // Set Negative Gamma Correction-18 to 0x54
            15 20 02 D2 67        // Set Negative Gamma Correction-19 to 0x67
            15 20 02 D3 39        // Set Negative Gamma Correction-20 to 0x39
            39 E0 04 FF 98 81 00  // Set to Page 0 Command
            15 20 02 36 03
            05 20 01 35
            05 FE 01 11           // Set Sleep Out
            05 FE 01 29           // Set Display On
        ];
		panel-exit-sequence = [
			05 FE 01 28
			05 FE 01 10
		];

        disp_timings: display-timings {
            native-mode = <&timing0>;
			timing0: timing0 {
				clock-frequency = <61000000>;
				hactive = <720>;
				vactive = <1280>;
				hback-porch = <5>;
				hfront-porch = <40>;
				vback-porch = <20>;
				vfront-porch = <20>;
				hsync-len = <10>;
				vsync-len = <4>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
        };
    };
};

&i2c2 {
    status = "okay";
    i2c-scl-rising-time-ns = <600>;
    i2c-scl-falling-time-ns = <20>;

	ft5336@38 {
		compatible = "edt,edt-ft5336", "ft5x06";
		reg = <0x38>;
		interrupt-parent = <&gpio2>;
		interrupts = <2 IRQ_TYPE_EDGE_FALLING>;
		reset-gpio = <&gpio2 RK_PA3 GPIO_ACTIVE_HIGH>; /* GPIO2_A3 */
		status = "okay";
	};
};

&pinctrl {
	matrix {
		matrix_gpio: matrix_gpio {
			rockchip,pins =
				<0 10 RK_FUNC_GPIO &pcfg_pull_up>,
				<0 11 RK_FUNC_GPIO &pcfg_pull_up>,
				<0 12 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	apds_int_l: apds-int-l {
		rockchip,pins = <3 10 RK_FUNC_GPIO &pcfg_pull_up>;
	};

	charger {
		charger_ok: charge-ok {
			rockchip,pins = <1 RK_PC7 RK_FUNC_GPIO &pcfg_pull_up>; /* GPIO1_C7 */
		};
	};

	rt5651 {
		rt5651_hpdet: rt5651-hpdet {
			rockchip,pins = <1 0 RK_FUNC_GPIO &pcfg_pull_up>; /* GPIO1_A0 */
		};
	};
};

&mipi_dphy_rx0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam0: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&ucam_out0>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy_rx0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp0_mipi_in>;
			};
		};
	};
};

&rkisp1_0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp0_mipi_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&dphy_rx0_out>;
		};
	};
};

&mipi_dphy_tx1rx1 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam1: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&ucam_out1>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy_tx1rx1_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp1_mipi_in>;
			};
		};
	};
};

&rkisp1_1 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp1_mipi_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&dphy_tx1rx1_out>;
		};
	};
};
